<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ul.biz.wm.mapper.UltabWmOrderinfoMapper">
  <resultMap id="BaseResultMap" type="com.ul.biz.wm.model.UltabWmOrderinfo">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="ORG_ID" jdbcType="CHAR" property="orgId" />
    <result column="MERC_ID" jdbcType="CHAR" property="mercId" />
    <result column="SHOP_ID" jdbcType="CHAR" property="shopId" />
    <result column="SHOP_NAME" jdbcType="CHAR" property="shopName" javaType="String"  typeHandler="com.ul.core.mybatis.typehandler.OracleCharStringTypeHandler" />
    <result column="CHANNEL_ORDERID" jdbcType="CHAR" property="channelOrderid" />
    <result column="ORDER_ID" jdbcType="CHAR" property="orderId" javaType="String" typeHandler="com.ul.core.mybatis.typehandler.OracleCharStringTypeHandler" />
    <result column="VIEW_ORDER_ID" jdbcType="CHAR" property="viewOrderId" />
    <result column="TIMESTAMP" jdbcType="CHAR" property="timestamp" />
    <result column="ORDER_DATE" jdbcType="CHAR" property="orderDate" />
    <result column="ORDER_TIME" jdbcType="CHAR" property="orderTime" />
    <result column="CONFIRM_DATE" jdbcType="CHAR" property="confirmDate" />
    <result column="CONFIRM_TIME" jdbcType="CHAR" property="confirmTime" />
    <result column="TRACE_NO" jdbcType="CHAR" property="traceNo" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="SEND_IMMEDIATELY" jdbcType="CHAR" property="sendImmediately" />
    <result column="EXPECT_DATE" jdbcType="CHAR" property="expectDate" />
    <result column="EXPECT_TIME" jdbcType="CHAR" property="expectTime" />
    <result column="DELIVER_AMOUNT" jdbcType="DECIMAL" property="deliverAmount" />
    <result column="PACKAGE_AMOUNT" jdbcType="DECIMAL" property="packageAmount" />
    <result column="DISCOUNT_AMOUNT" jdbcType="DECIMAL" property="discountAmount" />
    <result column="SHOP_AMOUNT" jdbcType="DECIMAL" property="shopAmount" />
    <result column="ORDER_AMOUNT" jdbcType="DECIMAL" property="orderAmount" />
    <result column="USER_AMOUNT" jdbcType="DECIMAL" property="userAmount" />
    <result column="PAT_TYPE" jdbcType="CHAR" property="patType" />
    <result column="INVOICE_TYPE" jdbcType="DECIMAL" property="invoiceType" />
    <result column="INVOICE_TITLE" jdbcType="CHAR" property="invoiceTitle" />
    <result column="DELIVERY_TYPE" jdbcType="DECIMAL" property="deliveryType" />
    <result column="USER_NAME" jdbcType="CHAR" property="userName" />
    <result column="USER_PHONE" jdbcType="CHAR" property="userPhone" />
    <result column="USER_SEX" jdbcType="DECIMAL" property="userSex" />
    <result column="USER_ADDR" jdbcType="CHAR" property="userAddr" />
    <result column="LONGITUED_BD" jdbcType="CHAR" property="longituedBd" />
    <result column="LATITUED_BD" jdbcType="CHAR" property="latituedBd" />
    <result column="LONGITUED_GD" jdbcType="CHAR" property="longituedGd" />
    <result column="LATITUED_GD" jdbcType="CHAR" property="latituedGd" />
    <result column="SHIPPER_PHONE" jdbcType="CHAR" property="shipperPhone" />
    <result column="SHIPPER_NAME" jdbcType="CHAR" property="shipperName" />
    <result column="CHANNEL_ID" jdbcType="CHAR" property="channelId" />
    <result column="DELIVER_DATE" jdbcType="CHAR" property="deliverDate" />
    <result column="DELIVER_TIME" jdbcType="CHAR" property="deliverTime" />
    <result column="CANCEL_TYPE" jdbcType="DECIMAL" property="cancelType" />
    <result column="CANCEL_REASON" jdbcType="CHAR" property="cancelReason" />
    <result column="CANCEL_DATE" jdbcType="CHAR" property="cancelDate" />
    <result column="CANCEL_TIME" jdbcType="CHAR" property="cancelTime" />
    <result column="COMPLETE_DATE" jdbcType="CHAR" property="completeDate" />
    <result column="COMPLETE_TIME" jdbcType="CHAR" property="completeTime" />
    <result column="REMARK" jdbcType="CHAR" property="remark" />
    <result column="ACT_ID" jdbcType="CHAR" property="actId" />
    <result column="DISCOUNT_TYPE" jdbcType="CHAR" property="discountType" />
    <result column="CHANNEL_RATE" jdbcType="DECIMAL" property="channelRate" />
    <result column="SHOP_RATE" jdbcType="DECIMAL" property="shopRate" />
    <result column="AGENT_RATE" jdbcType="DECIMAL" property="agentRate" />
    <result column="LOGISTICS_RATE" jdbcType="DECIMAL" property="logisticsRate" />
    <result column="ORDER_TYPE" jdbcType="DECIMAL" property="orderType" />
    <result column="UMQ_PROFIT_TYPE" jdbcType="DECIMAL" property="umqProfitType" />
    <result column="UMQ_PROFIT_AMOUNT" jdbcType="DECIMAL" property="umqProfitAmount" />
    <result column="CARD_NO" jdbcType="CHAR" property="cardNo" />
    <result column="ORDER_SEQ" jdbcType="DECIMAL" property="orderSeq" />
    <result column="AUTO_ORDER" jdbcType="DECIMAL" property="autoOrder" />
    <result column="DELIVERY_STATUS" jdbcType="DECIMAL" property="deliveryStatus" />
    <result column="DELIVERY_CNL_REASON" jdbcType="DECIMAL" property="deliveryCnlReason" />
    <result column="LAST_TRANS_DATE" jdbcType="CHAR" property="lastTransDate" />
    <result column="LAST_TRANS_TIME" jdbcType="CHAR" property="lastTransTime" />
    <result column="NOTICE_STATUS" jdbcType="DECIMAL" property="noticeStatus" />
    <result column="SHOP_AUTO_ORDER" jdbcType="DECIMAL" property="shopAutoOrder" />
    <result column="CHANNEL_SHOP_ID" jdbcType="CHAR" property="channelShopId" />
    <result column="STATUS_TEXT" jdbcType="VARCHAR" property="statusText" />
  </resultMap>
</mapper>