<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ul.biz.wm.mapper.UltabWmOrderdetailMapper">
  <resultMap id="BaseResultMap" type="com.ul.biz.wm.model.UltabWmOrderdetail">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="ORG_ID" jdbcType="CHAR" property="orgId" />
    <result column="MERC_ID" jdbcType="CHAR" property="mercId" />
    <result column="SHOP_ID" jdbcType="CHAR" property="shopId" />
    <result column="ORDER_ID" jdbcType="CHAR" property="orderId" />
    <result column="PROD_ID" jdbcType="CHAR" property="prodId" />
    <result column="PROD_NUM" jdbcType="DECIMAL" property="prodNum" />
    <result column="PROD_PRICE" jdbcType="DECIMAL" property="prodPrice" />
    <result column="PROD_AMOUNT" jdbcType="DECIMAL" property="prodAmount" />
    <result column="PROD_NAME" jdbcType="CHAR" property="prodName" />
    <result column="CHANNEL_PROD_ID" jdbcType="CHAR" property="channelProdId" />
  </resultMap>
</mapper>