<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ul.biz.wm.mapper.WmChannelFoodMapper">
  <resultMap id="BaseResultMap" type="com.ul.biz.wm.model.WmChannelFood">
    <result column="ORG_ID" jdbcType="CHAR" property="orgId" />
    <result column="MERC_ID" jdbcType="CHAR" property="mercId" />
    <result column="CHANNEL_ID" jdbcType="CHAR" property="channelId" />
    <result column="FOOD_ID" jdbcType="CHAR" property="foodId" />
    <result column="CHANNEL_FOOD_ID" jdbcType="CHAR" property="channelFoodId" />
    <result column="PRIORITY" jdbcType="DECIMAL" property="priority" />
    <result column="STOCK" jdbcType="DECIMAL" property="stock" />
    <result column="PRICE" jdbcType="DECIMAL" property="price" />
    <result column="SHOP_ID" jdbcType="CHAR" property="shopId" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
    <result column="INIT_STOCK" jdbcType="DECIMAL" property="initStock" />
  </resultMap>
  <insert id="insert" parameterType="com.ul.biz.wm.model.WmChannelFood">
    insert into ULTAB_WM_CHANNEL_FOOD (ORG_ID, MERC_ID, CHANNEL_ID, 
      FOOD_ID, CHANNEL_FOOD_ID, PRIORITY, 
      STOCK, PRICE, SHOP_ID, 
      STATUS, INIT_STOCK)
    values (#{orgId,jdbcType=CHAR}, #{mercId,jdbcType=CHAR}, #{channelId,jdbcType=CHAR}, 
      #{foodId,jdbcType=CHAR}, #{channelFoodId,jdbcType=CHAR}, #{priority,jdbcType=DECIMAL}, 
      #{stock,jdbcType=DECIMAL}, #{price,jdbcType=DECIMAL}, #{shopId,jdbcType=CHAR}, 
      #{status,jdbcType=CHAR}, #{initStock,jdbcType=DECIMAL})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select ORG_ID, MERC_ID, CHANNEL_ID, FOOD_ID, CHANNEL_FOOD_ID, PRIORITY, STOCK, PRICE, 
    SHOP_ID, STATUS, INIT_STOCK
    from ULTAB_WM_CHANNEL_FOOD
  </select>
  <resultMap id="BaseResultMap" type="com.ul.biz.wm.model.WmChannelFood">
    <result column="ORG_ID" jdbcType="CHAR" property="orgId" />
    <result column="MERC_ID" jdbcType="CHAR" property="mercId" />
    <result column="CHANNEL_ID" jdbcType="CHAR" property="channelId" />
    <result column="FOOD_ID" jdbcType="CHAR" property="foodId" />
    <result column="CHANNEL_FOOD_ID" jdbcType="CHAR" property="channelFoodId" />
    <result column="PRIORITY" jdbcType="DECIMAL" property="priority" />
    <result column="STOCK" jdbcType="DECIMAL" property="stock" />
    <result column="PRICE" jdbcType="DECIMAL" property="price" />
    <result column="SHOP_ID" jdbcType="CHAR" property="shopId" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
    <result column="INIT_STOCK" jdbcType="DECIMAL" property="initStock" />
  </resultMap>
  <insert id="insert" parameterType="com.ul.biz.wm.model.WmChannelFood">
    insert into ULTAB_WM_CHANNEL_FOOD (ORG_ID, MERC_ID, CHANNEL_ID, 
      FOOD_ID, CHANNEL_FOOD_ID, PRIORITY, 
      STOCK, PRICE, SHOP_ID, 
      STATUS, INIT_STOCK)
    values (#{orgId,jdbcType=CHAR}, #{mercId,jdbcType=CHAR}, #{channelId,jdbcType=CHAR}, 
      #{foodId,jdbcType=CHAR}, #{channelFoodId,jdbcType=CHAR}, #{priority,jdbcType=DECIMAL}, 
      #{stock,jdbcType=DECIMAL}, #{price,jdbcType=DECIMAL}, #{shopId,jdbcType=CHAR}, 
      #{status,jdbcType=CHAR}, #{initStock,jdbcType=DECIMAL})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select ORG_ID, MERC_ID, CHANNEL_ID, FOOD_ID, CHANNEL_FOOD_ID, PRIORITY, STOCK, PRICE, 
    SHOP_ID, STATUS, INIT_STOCK
    from ULTAB_WM_CHANNEL_FOOD
  </select>
</mapper>