<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ul.biz.wm.mapper.WmChannelFoodSpecMapper">
  <resultMap id="BaseResultMap" type="com.ul.biz.wm.model.WmChannelFoodSpec">
    <result column="MERC_ID" jdbcType="CHAR" property="mercId" />
    <result column="SHOP_ID" jdbcType="CHAR" property="shopId" />
    <result column="CHANNEL_ID" jdbcType="CHAR" property="channelId" />
    <result column="FOOD_ID" jdbcType="CHAR" property="foodId" />
    <result column="SIZE_ID" jdbcType="CHAR" property="sizeId" />
    <result column="PRICE" jdbcType="DECIMAL" property="price" />
    <result column="STOCK" jdbcType="DECIMAL" property="stock" />
    <result column="SALE_STOCK" jdbcType="DECIMAL" property="saleStock" />
    <result column="CANCEL_STOCK" jdbcType="DECIMAL" property="cancelStock" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="UPDATE_DATE" jdbcType="CHAR" property="updateDate" />
    <result column="UPDATE_TIME" jdbcType="CHAR" property="updateTime" />
    <result column="UPDATE_USER" jdbcType="CHAR" property="updateUser" />
    <result column="INIT_STOCK" jdbcType="DECIMAL" property="initStock" />
    <result column="CIRCLE_TYPE" jdbcType="CHAR" property="circleType" />
    <result column="CHANNEL_SPEC_ID" jdbcType="CHAR" property="channelSpecId" />
    <result column="SIZE_NAME" jdbcType="CHAR" property="sizeName" />
  </resultMap>
  <insert id="insert" parameterType="com.ul.biz.wm.model.WmChannelFoodSpec">
    insert into ULTAB_WM_CHANNEL_FOOD_SPEC (MERC_ID, SHOP_ID, CHANNEL_ID, 
      FOOD_ID, SIZE_ID, PRICE, STOCK, 
      SALE_STOCK, CANCEL_STOCK, STATUS, 
      UPDATE_DATE, UPDATE_TIME, UPDATE_USER, 
      INIT_STOCK, CIRCLE_TYPE, CHANNEL_SPEC_ID, 
      SIZE_NAME)
    values (#{mercId,jdbcType=CHAR}, #{shopId,jdbcType=CHAR}, #{channelId,jdbcType=CHAR}, 
      #{foodId,jdbcType=CHAR}, #{sizeId,jdbcType=CHAR}, #{price,jdbcType=DECIMAL}, #{stock,jdbcType=DECIMAL}, 
      #{saleStock,jdbcType=DECIMAL}, #{cancelStock,jdbcType=DECIMAL}, #{status,jdbcType=DECIMAL}, 
      #{updateDate,jdbcType=CHAR}, #{updateTime,jdbcType=CHAR}, #{updateUser,jdbcType=CHAR}, 
      #{initStock,jdbcType=DECIMAL}, #{circleType,jdbcType=CHAR}, #{channelSpecId,jdbcType=CHAR}, 
      #{sizeName,jdbcType=CHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select MERC_ID, SHOP_ID, CHANNEL_ID, FOOD_ID, SIZE_ID, PRICE, STOCK, SALE_STOCK, 
    CANCEL_STOCK, STATUS, UPDATE_DATE, UPDATE_TIME, UPDATE_USER, INIT_STOCK, CIRCLE_TYPE, 
    CHANNEL_SPEC_ID, SIZE_NAME
    from ULTAB_WM_CHANNEL_FOOD_SPEC
  </select>
  <resultMap id="BaseResultMap" type="com.ul.biz.wm.model.WmChannelFoodSpec">
    <result column="MERC_ID" jdbcType="CHAR" property="mercId" />
    <result column="SHOP_ID" jdbcType="CHAR" property="shopId" />
    <result column="CHANNEL_ID" jdbcType="CHAR" property="channelId" />
    <result column="FOOD_ID" jdbcType="CHAR" property="foodId" />
    <result column="SIZE_ID" jdbcType="CHAR" property="sizeId" />
    <result column="PRICE" jdbcType="DECIMAL" property="price" />
    <result column="STOCK" jdbcType="DECIMAL" property="stock" />
    <result column="SALE_STOCK" jdbcType="DECIMAL" property="saleStock" />
    <result column="CANCEL_STOCK" jdbcType="DECIMAL" property="cancelStock" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="UPDATE_DATE" jdbcType="CHAR" property="updateDate" />
    <result column="UPDATE_TIME" jdbcType="CHAR" property="updateTime" />
    <result column="UPDATE_USER" jdbcType="CHAR" property="updateUser" />
    <result column="INIT_STOCK" jdbcType="DECIMAL" property="initStock" />
    <result column="CIRCLE_TYPE" jdbcType="CHAR" property="circleType" />
    <result column="CHANNEL_SPEC_ID" jdbcType="CHAR" property="channelSpecId" />
    <result column="SIZE_NAME" jdbcType="CHAR" property="sizeName" />
  </resultMap>
  <insert id="insert" parameterType="com.ul.biz.wm.model.WmChannelFoodSpec">
    insert into ULTAB_WM_CHANNEL_FOOD_SPEC (MERC_ID, SHOP_ID, CHANNEL_ID, 
      FOOD_ID, SIZE_ID, PRICE, STOCK, 
      SALE_STOCK, CANCEL_STOCK, STATUS, 
      UPDATE_DATE, UPDATE_TIME, UPDATE_USER, 
      INIT_STOCK, CIRCLE_TYPE, CHANNEL_SPEC_ID, 
      SIZE_NAME)
    values (#{mercId,jdbcType=CHAR}, #{shopId,jdbcType=CHAR}, #{channelId,jdbcType=CHAR}, 
      #{foodId,jdbcType=CHAR}, #{sizeId,jdbcType=CHAR}, #{price,jdbcType=DECIMAL}, #{stock,jdbcType=DECIMAL}, 
      #{saleStock,jdbcType=DECIMAL}, #{cancelStock,jdbcType=DECIMAL}, #{status,jdbcType=DECIMAL}, 
      #{updateDate,jdbcType=CHAR}, #{updateTime,jdbcType=CHAR}, #{updateUser,jdbcType=CHAR}, 
      #{initStock,jdbcType=DECIMAL}, #{circleType,jdbcType=CHAR}, #{channelSpecId,jdbcType=CHAR}, 
      #{sizeName,jdbcType=CHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select MERC_ID, SHOP_ID, CHANNEL_ID, FOOD_ID, SIZE_ID, PRICE, STOCK, SALE_STOCK, 
    CANCEL_STOCK, STATUS, UPDATE_DATE, UPDATE_TIME, UPDATE_USER, INIT_STOCK, CIRCLE_TYPE, 
    CHANNEL_SPEC_ID, SIZE_NAME
    from ULTAB_WM_CHANNEL_FOOD_SPEC
  </select>
</mapper>