<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ul.biz.wm.mapper.WmFoodSpecMapper">
  <resultMap id="BaseResultMap" type="com.ul.biz.wm.model.WmFoodSpec">
    <result column="ORG_ID" jdbcType="CHAR" property="orgId" />
    <result column="MERC_ID" jdbcType="CHAR" property="mercId" />
    <result column="FOOD_ID" jdbcType="CHAR" property="foodId" />
    <result column="SIZE_ID" jdbcType="CHAR" property="sizeId" />
    <result column="SIZE_NAME" jdbcType="CHAR" property="sizeName" />
    <result column="PRIORITY" jdbcType="DECIMAL" property="priority" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="BAIDU_STOCK" jdbcType="DECIMAL" property="baiduStock" />
    <result column="ELM_STOCK" jdbcType="DECIMAL" property="elmStock" />
    <result column="MT_STOCK" jdbcType="DECIMAL" property="mtStock" />
    <result column="BAIDU_PRICE" jdbcType="DECIMAL" property="baiduPrice" />
    <result column="ELM_PRICE" jdbcType="DECIMAL" property="elmPrice" />
    <result column="MT_PRICE" jdbcType="DECIMAL" property="mtPrice" />
    <result column="BAIDU_SPEC_ID" jdbcType="CHAR" property="baiduSpecId" />
    <result column="ELM_SPEC_ID" jdbcType="CHAR" property="elmSpecId" />
    <result column="MT_SPEC_ID" jdbcType="CHAR" property="mtSpecId" />
  </resultMap>
  <insert id="insert" parameterType="com.ul.biz.wm.model.WmFoodSpec">
    insert into ULTAB_WM_FOOD_SPEC (ORG_ID, MERC_ID, FOOD_ID, 
      SIZE_ID, SIZE_NAME, PRIORITY, 
      STATUS, BAIDU_STOCK, ELM_STOCK, 
      MT_STOCK, BAIDU_PRICE, ELM_PRICE, 
      MT_PRICE, BAIDU_SPEC_ID, ELM_SPEC_ID, 
      MT_SPEC_ID)
    values (#{orgId,jdbcType=CHAR}, #{mercId,jdbcType=CHAR}, #{foodId,jdbcType=CHAR}, 
      #{sizeId,jdbcType=CHAR}, #{sizeName,jdbcType=CHAR}, #{priority,jdbcType=DECIMAL}, 
      #{status,jdbcType=DECIMAL}, #{baiduStock,jdbcType=DECIMAL}, #{elmStock,jdbcType=DECIMAL}, 
      #{mtStock,jdbcType=DECIMAL}, #{baiduPrice,jdbcType=DECIMAL}, #{elmPrice,jdbcType=DECIMAL}, 
      #{mtPrice,jdbcType=DECIMAL}, #{baiduSpecId,jdbcType=CHAR}, #{elmSpecId,jdbcType=CHAR}, 
      #{mtSpecId,jdbcType=CHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select ORG_ID, MERC_ID, FOOD_ID, SIZE_ID, SIZE_NAME, PRIORITY, STATUS, BAIDU_STOCK, 
    ELM_STOCK, MT_STOCK, BAIDU_PRICE, ELM_PRICE, MT_PRICE, BAIDU_SPEC_ID, ELM_SPEC_ID, 
    MT_SPEC_ID
    from ULTAB_WM_FOOD_SPEC
  </select>
  <resultMap id="BaseResultMap" type="com.ul.biz.wm.model.WmFoodSpec">
    <result column="ORG_ID" jdbcType="CHAR" property="orgId" />
    <result column="MERC_ID" jdbcType="CHAR" property="mercId" />
    <result column="FOOD_ID" jdbcType="CHAR" property="foodId" />
    <result column="SIZE_ID" jdbcType="CHAR" property="sizeId" />
    <result column="SIZE_NAME" jdbcType="CHAR" property="sizeName" />
    <result column="PRIORITY" jdbcType="DECIMAL" property="priority" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="BAIDU_STOCK" jdbcType="DECIMAL" property="baiduStock" />
    <result column="ELM_STOCK" jdbcType="DECIMAL" property="elmStock" />
    <result column="MT_STOCK" jdbcType="DECIMAL" property="mtStock" />
    <result column="BAIDU_PRICE" jdbcType="DECIMAL" property="baiduPrice" />
    <result column="ELM_PRICE" jdbcType="DECIMAL" property="elmPrice" />
    <result column="MT_PRICE" jdbcType="DECIMAL" property="mtPrice" />
    <result column="BAIDU_SPEC_ID" jdbcType="CHAR" property="baiduSpecId" />
    <result column="ELM_SPEC_ID" jdbcType="CHAR" property="elmSpecId" />
    <result column="MT_SPEC_ID" jdbcType="CHAR" property="mtSpecId" />
  </resultMap>
  <insert id="insert" parameterType="com.ul.biz.wm.model.WmFoodSpec">
    insert into ULTAB_WM_FOOD_SPEC (ORG_ID, MERC_ID, FOOD_ID, 
      SIZE_ID, SIZE_NAME, PRIORITY, 
      STATUS, BAIDU_STOCK, ELM_STOCK, 
      MT_STOCK, BAIDU_PRICE, ELM_PRICE, 
      MT_PRICE, BAIDU_SPEC_ID, ELM_SPEC_ID, 
      MT_SPEC_ID)
    values (#{orgId,jdbcType=CHAR}, #{mercId,jdbcType=CHAR}, #{foodId,jdbcType=CHAR}, 
      #{sizeId,jdbcType=CHAR}, #{sizeName,jdbcType=CHAR}, #{priority,jdbcType=DECIMAL}, 
      #{status,jdbcType=DECIMAL}, #{baiduStock,jdbcType=DECIMAL}, #{elmStock,jdbcType=DECIMAL}, 
      #{mtStock,jdbcType=DECIMAL}, #{baiduPrice,jdbcType=DECIMAL}, #{elmPrice,jdbcType=DECIMAL}, 
      #{mtPrice,jdbcType=DECIMAL}, #{baiduSpecId,jdbcType=CHAR}, #{elmSpecId,jdbcType=CHAR}, 
      #{mtSpecId,jdbcType=CHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select ORG_ID, MERC_ID, FOOD_ID, SIZE_ID, SIZE_NAME, PRIORITY, STATUS, BAIDU_STOCK, 
    ELM_STOCK, MT_STOCK, BAIDU_PRICE, ELM_PRICE, MT_PRICE, BAIDU_SPEC_ID, ELM_SPEC_ID, 
    MT_SPEC_ID
    from ULTAB_WM_FOOD_SPEC
  </select>
</mapper>