<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ul.biz.wm.mapper.WmMercFoodMapper">
  <resultMap id="BaseResultMap" type="com.ul.biz.wm.model.WmMercFood">
    <result column="ORG_ID" jdbcType="CHAR" property="orgId" />
    <result column="MERC_ID" jdbcType="CHAR" property="mercId" />
    <result column="FOOD_ID" jdbcType="CHAR" property="foodId" />
    <result column="FOOD_NAME" jdbcType="CHAR" property="foodName" />
    <result column="CATE_ID" jdbcType="CHAR" property="cateId" />
    <result column="PRIORITY" jdbcType="DECIMAL" property="priority" />
    <result column="UPC" jdbcType="CHAR" property="upc" />
    <result column="PIC" jdbcType="CHAR" property="pic" />
    <result column="PIC_ID" jdbcType="CHAR" property="picId" />
    <result column="PIC_HASH" jdbcType="CHAR" property="picHash" />
    <result column="MIN_ORDER_NUM" jdbcType="DECIMAL" property="minOrderNum" />
    <result column="PACKAGE_NUM" jdbcType="DECIMAL" property="packageNum" />
    <result column="DESCRIPTION" jdbcType="CHAR" property="description" />
    <result column="AVAIL_DATE" jdbcType="CHAR" property="availDate" />
    <result column="AVAIL_TIME_START" jdbcType="CHAR" property="availTimeStart" />
    <result column="AVAIL_TIME_END" jdbcType="CHAR" property="availTimeEnd" />
    <result column="ATTR_NAME" jdbcType="CHAR" property="attrName" />
    <result column="ATTR_VALUE" jdbcType="CHAR" property="attrValue" />
    <result column="IS_NEW" jdbcType="DECIMAL" property="isNew" />
    <result column="IS_FEATURED" jdbcType="DECIMAL" property="isFeatured" />
    <result column="IS_SPICY" jdbcType="DECIMAL" property="isSpicy" />
    <result column="IS_PROMO_ITEM" jdbcType="DECIMAL" property="isPromoItem" />
    <result column="OLD_PRICE" jdbcType="DECIMAL" property="oldPrice" />
    <result column="IS_JARDINIERE" jdbcType="DECIMAL" property="isJardiniere" />
    <result column="EXT_FOOD_ID" jdbcType="CHAR" property="extFoodId" />
  </resultMap>
  <insert id="insert" parameterType="com.ul.biz.wm.model.WmMercFood">
    insert into ULTAB_WM_MERC_FOOD (ORG_ID, MERC_ID, FOOD_ID, 
      FOOD_NAME, CATE_ID, PRIORITY, 
      UPC, PIC, PIC_ID, PIC_HASH, 
      MIN_ORDER_NUM, PACKAGE_NUM, DESCRIPTION, 
      AVAIL_DATE, AVAIL_TIME_START, AVAIL_TIME_END, 
      ATTR_NAME, ATTR_VALUE, IS_NEW, 
      IS_FEATURED, IS_SPICY, IS_PROMO_ITEM, 
      OLD_PRICE, IS_JARDINIERE, EXT_FOOD_ID
      )
    values (#{orgId,jdbcType=CHAR}, #{mercId,jdbcType=CHAR}, #{foodId,jdbcType=CHAR}, 
      #{foodName,jdbcType=CHAR}, #{cateId,jdbcType=CHAR}, #{priority,jdbcType=DECIMAL}, 
      #{upc,jdbcType=CHAR}, #{pic,jdbcType=CHAR}, #{picId,jdbcType=CHAR}, #{picHash,jdbcType=CHAR}, 
      #{minOrderNum,jdbcType=DECIMAL}, #{packageNum,jdbcType=DECIMAL}, #{description,jdbcType=CHAR}, 
      #{availDate,jdbcType=CHAR}, #{availTimeStart,jdbcType=CHAR}, #{availTimeEnd,jdbcType=CHAR}, 
      #{attrName,jdbcType=CHAR}, #{attrValue,jdbcType=CHAR}, #{isNew,jdbcType=DECIMAL}, 
      #{isFeatured,jdbcType=DECIMAL}, #{isSpicy,jdbcType=DECIMAL}, #{isPromoItem,jdbcType=DECIMAL}, 
      #{oldPrice,jdbcType=DECIMAL}, #{isJardiniere,jdbcType=DECIMAL}, #{extFoodId,jdbcType=CHAR}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select ORG_ID, MERC_ID, FOOD_ID, FOOD_NAME, CATE_ID, PRIORITY, UPC, PIC, PIC_ID, 
    PIC_HASH, MIN_ORDER_NUM, PACKAGE_NUM, DESCRIPTION, AVAIL_DATE, AVAIL_TIME_START, 
    AVAIL_TIME_END, ATTR_NAME, ATTR_VALUE, IS_NEW, IS_FEATURED, IS_SPICY, IS_PROMO_ITEM, 
    OLD_PRICE, IS_JARDINIERE, EXT_FOOD_ID
    from ULTAB_WM_MERC_FOOD
  </select>
  <resultMap id="BaseResultMap" type="com.ul.biz.wm.model.WmMercFood">
    <result column="ORG_ID" jdbcType="CHAR" property="orgId" />
    <result column="MERC_ID" jdbcType="CHAR" property="mercId" />
    <result column="FOOD_ID" jdbcType="CHAR" property="foodId" />
    <result column="FOOD_NAME" jdbcType="CHAR" property="foodName" />
    <result column="CATE_ID" jdbcType="CHAR" property="cateId" />
    <result column="PRIORITY" jdbcType="DECIMAL" property="priority" />
    <result column="UPC" jdbcType="CHAR" property="upc" />
    <result column="PIC" jdbcType="CHAR" property="pic" />
    <result column="PIC_ID" jdbcType="CHAR" property="picId" />
    <result column="PIC_HASH" jdbcType="CHAR" property="picHash" />
    <result column="MIN_ORDER_NUM" jdbcType="DECIMAL" property="minOrderNum" />
    <result column="PACKAGE_NUM" jdbcType="DECIMAL" property="packageNum" />
    <result column="DESCRIPTION" jdbcType="CHAR" property="description" />
    <result column="AVAIL_DATE" jdbcType="CHAR" property="availDate" />
    <result column="AVAIL_TIME_START" jdbcType="CHAR" property="availTimeStart" />
    <result column="AVAIL_TIME_END" jdbcType="CHAR" property="availTimeEnd" />
    <result column="ATTR_NAME" jdbcType="CHAR" property="attrName" />
    <result column="ATTR_VALUE" jdbcType="CHAR" property="attrValue" />
    <result column="IS_NEW" jdbcType="DECIMAL" property="isNew" />
    <result column="IS_FEATURED" jdbcType="DECIMAL" property="isFeatured" />
    <result column="IS_SPICY" jdbcType="DECIMAL" property="isSpicy" />
    <result column="IS_PROMO_ITEM" jdbcType="DECIMAL" property="isPromoItem" />
    <result column="OLD_PRICE" jdbcType="DECIMAL" property="oldPrice" />
    <result column="IS_JARDINIERE" jdbcType="DECIMAL" property="isJardiniere" />
    <result column="EXT_FOOD_ID" jdbcType="CHAR" property="extFoodId" />
  </resultMap>
  <insert id="insert" parameterType="com.ul.biz.wm.model.WmMercFood">
    insert into ULTAB_WM_MERC_FOOD (ORG_ID, MERC_ID, FOOD_ID, 
      FOOD_NAME, CATE_ID, PRIORITY, 
      UPC, PIC, PIC_ID, PIC_HASH, 
      MIN_ORDER_NUM, PACKAGE_NUM, DESCRIPTION, 
      AVAIL_DATE, AVAIL_TIME_START, AVAIL_TIME_END, 
      ATTR_NAME, ATTR_VALUE, IS_NEW, 
      IS_FEATURED, IS_SPICY, IS_PROMO_ITEM, 
      OLD_PRICE, IS_JARDINIERE, EXT_FOOD_ID
      )
    values (#{orgId,jdbcType=CHAR}, #{mercId,jdbcType=CHAR}, #{foodId,jdbcType=CHAR}, 
      #{foodName,jdbcType=CHAR}, #{cateId,jdbcType=CHAR}, #{priority,jdbcType=DECIMAL}, 
      #{upc,jdbcType=CHAR}, #{pic,jdbcType=CHAR}, #{picId,jdbcType=CHAR}, #{picHash,jdbcType=CHAR}, 
      #{minOrderNum,jdbcType=DECIMAL}, #{packageNum,jdbcType=DECIMAL}, #{description,jdbcType=CHAR}, 
      #{availDate,jdbcType=CHAR}, #{availTimeStart,jdbcType=CHAR}, #{availTimeEnd,jdbcType=CHAR}, 
      #{attrName,jdbcType=CHAR}, #{attrValue,jdbcType=CHAR}, #{isNew,jdbcType=DECIMAL}, 
      #{isFeatured,jdbcType=DECIMAL}, #{isSpicy,jdbcType=DECIMAL}, #{isPromoItem,jdbcType=DECIMAL}, 
      #{oldPrice,jdbcType=DECIMAL}, #{isJardiniere,jdbcType=DECIMAL}, #{extFoodId,jdbcType=CHAR}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select ORG_ID, MERC_ID, FOOD_ID, FOOD_NAME, CATE_ID, PRIORITY, UPC, PIC, PIC_ID, 
    PIC_HASH, MIN_ORDER_NUM, PACKAGE_NUM, DESCRIPTION, AVAIL_DATE, AVAIL_TIME_START, 
    AVAIL_TIME_END, ATTR_NAME, ATTR_VALUE, IS_NEW, IS_FEATURED, IS_SPICY, IS_PROMO_ITEM, 
    OLD_PRICE, IS_JARDINIERE, EXT_FOOD_ID
    from ULTAB_WM_MERC_FOOD
  </select>
</mapper>