<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--
    配置文件中的位置必须符合要求，否则会报错，顺序如下:
    properties, settings, typeAliases, typeHandlers, objectFactory,objectWrapperFactory, plugins,
    environments, databaseIdProvider, mappers
    -->

    <!-- Mybatis 调整设置，可以改变myBatis运行时的行为 -->
    <settings>
        <!--是否开启自动驼峰命名规则（camel case）映射，即从经典数据库列名 A_COLUMN 到经典 Java 属性名 aColumn 的类似映射。默认false-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--当没有为参数提供特定的 JDBC 类型时，为空值指定 JDBC 类型。-->
        <setting name="jdbcTypeForNull" value="NULL"></setting>
        <!--当返回行的所有列都是空时，MyBatis默认返回null。 当开启这个设置时，MyBatis会返回一个空实例。 默认false-->
        <setting name="returnInstanceForEmptyRow" value="false"></setting>
    </settings>

    <typeHandlers>
        <!--Oracle CHAR fix  -->
        <typeHandler handler="com.ul.core.mybatis.OracleCharStringTypeHandler" javaType="String" jdbcType="CHAR" />
    </typeHandlers>

    <plugins>
        <!-- 分页插件说明文档：https://github.com/pagehelper/Mybatis-PageHelper/blob/master/wikis/zh/HowToUse.md  -->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="rowBoundsWithCount" value="true"/>
        </plugin>
    </plugins>

    <!-- 数据源使用Spring管理，这里无需配置 -->
    <!--<environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${db.driver}"/>
                <property name="url" value="${db.url}"/>
                <property name="username" value="${db.username}"/>
                <property name="password" value="${db.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/unionlive/waimai/mapper/UltabWmOrderInfoMapper.xml"/>
        <mapper resource="com/unionlive/waimai/mapper/UltabWmOrderDetailMapper.xml"/>
    </mappers>-->
</configuration>