<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<!--
配置说明 参考文档：http://git.oschina.net/free/Mybatis_Utils/blob/master/MybatisGeneator/MybatisGeneator.md#
-->

<generatorConfiguration>
    <!--
    包含以下子元素（有严格的顺序）：
        <properties> (0个或1个)  全局变量配置
        <classPathEntry> (0个或多个) 加载jar包,建议通过项目管理，不要在配置文件中配置
        <context> (1个或多个)  生成代码配置
    -->

    <!--<classPathEntry location="D:\IdeaProjects\jsunday\@library\libs\ojdbc14.jar"></classPathEntry>-->

    <!-- Oracle 数据库生成代码配置 -->
    <context id="oracleContext" targetRuntime="MyBatis3Simple" defaultModelType="flat">
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>

        <commentGenerator>
            <property name="suppressDate" value="true"/>
            <!--  关闭自动生成的注释  -->
            <property name="suppressAllComments" value="true" />
        </commentGenerator>

        <!-- 数据库连接信息 -->
        <jdbcConnection driverClass="oracle.jdbc.OracleDriver"
                        connectionURL="jdbc:oracle:thin:@proxy.unionlive.com:31521:orcl"
                        userId="unionlive"
                        password="unionlive">
        </jdbcConnection>

        <!-- 类型解析 -->
        <javaTypeResolver>
            <!-- 不强制BigDecimals,自适配Oracle Number类型 -->
            <property name="forceBigDecimals" value="false" />
        </javaTypeResolver>

        <javaModelGenerator targetPackage="com.ul.biz.wm.model" targetProject="${src_main_java}">
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="mapper.wm"  targetProject="${src_main_resources}"/>

        <javaClientGenerator type="XMLMAPPER" targetPackage="com.ul.biz.wm.mapper"  targetProject="${src_main_java}"/>

        <!--
        ULTAB_WM_ORDERINFO
        ULTAB_WM_ORDERDETAIL
        ULTAB_WM_ORDER_PROMO
        ULTAB_WM_MERC_FOOD
        ULTAB_WM_FOOD_SPEC
        ULTAB_WM_CHANNEL_FOOD_SPEC
        ULTAB_WM_CHANNEL_FOOD
        ULTAB_WM_CHANNEL_CATE
        ULTAB_WM_CATE
        ULTAB_WM_PUSH_LOG
        ULTAB_WM_TRACE_LOG
        -->
        <table tableName="ULTAB_WM_ORDERINFO" domainObjectName="WmOrderInfo"></table>
        <table tableName="ULTAB_WM_ORDERDETAIL" domainObjectName="WmOrderDetail"></table>
        <table tableName="ULTAB_WM_ORDER_PROMO" domainObjectName="WmOrderPromo"></table>
        <table tableName="ULTAB_WM_MERC_FOOD" domainObjectName="WmMercFood"></table>
        <table tableName="ULTAB_WM_FOOD_SPEC" domainObjectName="WmFoodSpec"></table>
        <table tableName="ULTAB_WM_CHANNEL_FOOD_SPEC" domainObjectName="WmChannelFoodSpec"></table>
        <table tableName="ULTAB_WM_CHANNEL_FOOD" domainObjectName="WmChannelFood"></table>
        <table tableName="ULTAB_WM_CHANNEL_CATE" domainObjectName="WmChannelCate"></table>
        <table tableName="ULTAB_WM_CATE" domainObjectName="WmCate"></table>
        <table tableName="ULTAB_WM_PUSH_LOG" domainObjectName="WmPushLog"></table>
        <table tableName="ULTAB_WM_TRACE_LOG" domainObjectName="WmTraceLog"></table>
    </context>
</generatorConfiguration>